<mat-card>
    <mat-card-title>
        {{ title }}
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput 
                placeholder="Solicitante" 
                name="solicitante"
                [(ngModel)]="purchase.requesterName" 
                [readonly]="readOnlyField()"
            >
        </mat-form-field>
        <mat-form-field>
            <input matInput 
                placeholder="Produto"
                name="descricao"
                [(ngModel)]="purchase.product.description" 
                [readonly]="readOnlyField()"
            >
        </mat-form-field>
        <mat-form-field>
            <input matInput
                currencyMask
                [options]="{ 
                    align: 'left', 
                    prefix: 'R$ ', 
                    thousands: '.', 
                    decimal: ',',
                    max: '99999999999' 
                }"
                placeholder="Preço"
                name="valorUnitario"
                [(ngModel)]="purchase.product.price" 
                [readonly]="readOnlyField()"
            >
        </mat-form-field>
        <mat-form-field *ngIf="showField()">
            <mat-label>Aprovação</mat-label>
            <mat-select 
                [(ngModel)]="purchase.approval.approved"
                [readonly]="readOnlyField()" 
                name="aprovado" 
                required>
                    <mat-option disabled [value]="null">Selecione uma opção</mat-option>
                    <mat-option [value]="true">Aprovado</mat-option>
                    <mat-option [value]="false">Reprovado</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="showField()">
            <textarea 
                matInput 
                placeholder="Observação" 
                [(ngModel)]="purchase.approval.obs" 
                name="observacao"
                [readonly]="readOnlyField()"
            >
            </textarea>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="handleSendTask()" color="primary">
        Enviar
    </button>
    
    <button mat-raised-button (click)="cancelPurchase()">
        Cancelar
    </button>
</mat-card>